# Axelrod launches in NYC - Data Cleaning and EDA

## Data Cleaning on first dataset from Scraping Iteration #1

In [2]:
import pandas as pd

In [3]:
house_df = pd.read_pickle('house_df.pickle')

In [4]:
house_df

,url,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,transit_score,parking,pool,city_view,water_view,park_view,mountain_view,num_schools,avg_school_rating,address,listing_id
625,edetails/96-Cuba-Ave-Staten-Island-NY-10306/32...,578000.0,3.0,2.0,1170.0,10306,Single Family - Semi-Attached,1965,67,63,"No Garage, Off Street",No,No,No,No,No,3,5.000000,96-Cuba-Ave-Staten-Island-NY-10306,32334694
434,edetails/943-Wheeler-Ave-Bronx-NY-10473/297933...,485000.0,1.0,1.0,598.0,10451,Condo,2018,94,100,None,No,No,No,No,No,2,6.000000,943-Wheeler-Ave-Bronx-NY-10473,29793328
259,edetails/912-Quincy-Ave-Bronx-NY-10465/2984769...,829000.0,6.0,4.0,3087.0,10462,Multi Family,1899,92,93,Off Street,No,No,No,No,No,3,4.000000,912-Quincy-Ave-Bronx-NY-10465,29847699
609,edetails/903-E-214th-St-Bronx-NY-10469/1426756...,825000.0,6.0,5.0,2080.0,10469,Multi Family,2003,81,89,"Attached, 1 Car Attached, Driveway",No,No,No,No,No,3,4.333333,903-E-214th-St-Bronx-NY-10469,142675618
97,edetails/90-10-Hollis-Ct-Queens-Village-NY-114...,939000.0,3.0,2.0,1500.0,11004,Single Family Residence,1955,78,52,"Attached, 1 Car Attached, Driveway, Off Street",Yes,No,No,No,No,3,6.333333,90-10-Hollis-Ct-Queens-Village-NY-11428,2071221858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,edetails/1035-5th-Ave-9D-New-York-NY-10028/244...,2650000.0,2.0,2.0,233923.0,10028,Cooperative,1928,98,100,0 spaces,No,No,No,No,No,3,7.333333,1035-5th-Ave-9D-New-York-NY-10028,244747845
621,edetails/1025-Vincent-Ave-Bronx-NY-10465/29845...,565000.0,3.0,2.0,1636.0,10465,Single Family Residence,1955,84,62,"Attached, 1 Car Attached, Driveway",No,No,No,No,No,3,5.666667,1025-Vincent-Ave-Bronx-NY-10465,29845700
412,edetails/100-W-72nd-St-APT-2F-New-York-NY-1002...,1175000.0,3.0,2.0,1350.0,10016,Cooperative,1900,99,100,0 spaces,No,No,No,No,No,3,6.333333,100-W-72nd-St-APT-2F-New-York-NY-10023,244772652
156,edetails/10-Bay-Street-Lndg-APT-8I-Staten-Isla...,540000.0,2.0,2.0,1590.0,10301,Apartment,1982,88,79,"No Garage, Assigned",No,No,No,No,No,3,3.333333,10-Bay-Street-Lndg-APT-8I-Staten-Island-NY-10301,2088712539
203,edetails/1-W-End-Ave-21D-New-York-NY-10023/300...,2490000.0,2.0,2.0,1397.0,10023,Condo,2017,96,100,No Data,Yes,No,No,No,No,2,6.000000,1-W-End-Ave-21D-New-York-NY-10023,300194965

In [5]:
house_df.columns

Index(['url', 'price', 'beds', 'baths', 'sqft', 'zipcode', 'property_type',
       'year_built', 'walk_score', 'transit_score', 'parking', 'pool',
       'city_view', 'water_view', 'park_view', 'mountain_view', 'num_schools',
       'avg_school_rating', 'address', 'listing_id'],
      dtype='object')

In [6]:
# Rearrange columns
house_df = house_df[['url', 'listing_id', 'address', 'price', 'beds', 'baths', 'sqft', 'zipcode', 'property_type',
                    'year_built', 'walk_score', 'transit_score', 'parking', 'pool','city_view', 'water_view', 'park_view', 
                    'mountain_view', 'num_schools','avg_school_rating']]

In [7]:
house_df

,url,listing_id,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,transit_score,parking,pool,city_view,water_view,park_view,mountain_view,num_schools,avg_school_rating
625,edetails/96-Cuba-Ave-Staten-Island-NY-10306/32...,32334694,96-Cuba-Ave-Staten-Island-NY-10306,578000.0,3.0,2.0,1170.0,10306,Single Family - Semi-Attached,1965,67,63,"No Garage, Off Street",No,No,No,No,No,3,5.000000
434,edetails/943-Wheeler-Ave-Bronx-NY-10473/297933...,29793328,943-Wheeler-Ave-Bronx-NY-10473,485000.0,1.0,1.0,598.0,10451,Condo,2018,94,100,None,No,No,No,No,No,2,6.000000
259,edetails/912-Quincy-Ave-Bronx-NY-10465/2984769...,29847699,912-Quincy-Ave-Bronx-NY-10465,829000.0,6.0,4.0,3087.0,10462,Multi Family,1899,92,93,Off Street,No,No,No,No,No,3,4.000000
609,edetails/903-E-214th-St-Bronx-NY-10469/1426756...,142675618,903-E-214th-St-Bronx-NY-10469,825000.0,6.0,5.0,2080.0,10469,Multi Family,2003,81,89,"Attached, 1 Car Attached, Driveway",No,No,No,No,No,3,4.333333
97,edetails/90-10-Hollis-Ct-Queens-Village-NY-114...,2071221858,90-10-Hollis-Ct-Queens-Village-NY-11428,939000.0,3.0,2.0,1500.0,11004,Single Family Residence,1955,78,52,"Attached, 1 Car Attached, Driveway, Off Street",Yes,No,No,No,No,3,6.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,edetails/1035-5th-Ave-9D-New-York-NY-10028/244...,244747845,1035-5th-Ave-9D-New-York-NY-10028,2650000.0,2.0,2.0,233923.0,10028,Cooperative,1928,98,100,0 spaces,No,No,No,No,No,3,7.333333
621,edetails/1025-Vincent-Ave-Bronx-NY-10465/29845...,29845700,1025-Vincent-Ave-Bronx-NY-10465,565000.0,3.0,2.0,1636.0,10465,Single Family Residence,1955,84,62,"Attached, 1 Car Attached, Driveway",No,No,No,No,No,3,5.666667
412,edetails/100-W-72nd-St-APT-2F-New-York-NY-1002...,244772652,100-W-72nd-St-APT-2F-New-York-NY-10023,1175000.0,3.0,2.0,1350.0,10016,Cooperative,1900,99,100,0 spaces,No,No,No,No,No,3,6.333333
156,edetails/10-Bay-Street-Lndg-APT-8I-Staten-Isla...,2088712539,10-Bay-Street-Lndg-APT-8I-Staten-Island-NY-10301,540000.0,2.0,2.0,1590.0,10301,Apartment,1982,88,79,"No Garage, Assigned",No,No,No,No,No,3,3.333333
203,edetails/1-W-End-Ave-21D-New-York-NY-10023/300...,300194965,1-W-End-Ave-21D-New-York-NY-10023,2490000.0,2.0,2.0,1397.0,10023,Condo,2017,96,100,No Data,Yes,No,No,No,No,2,6.000000

In [8]:
# Column url is now superfluous and can be dropped. We have already extrapolated the needed information in listing_id and address.
house_df = house_df.drop('url', 1)

In [9]:
house_df

,listing_id,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,transit_score,parking,pool,city_view,water_view,park_view,mountain_view,num_schools,avg_school_rating
625,32334694,96-Cuba-Ave-Staten-Island-NY-10306,578000.0,3.0,2.0,1170.0,10306,Single Family - Semi-Attached,1965,67,63,"No Garage, Off Street",No,No,No,No,No,3,5.000000
434,29793328,943-Wheeler-Ave-Bronx-NY-10473,485000.0,1.0,1.0,598.0,10451,Condo,2018,94,100,None,No,No,No,No,No,2,6.000000
259,29847699,912-Quincy-Ave-Bronx-NY-10465,829000.0,6.0,4.0,3087.0,10462,Multi Family,1899,92,93,Off Street,No,No,No,No,No,3,4.000000
609,142675618,903-E-214th-St-Bronx-NY-10469,825000.0,6.0,5.0,2080.0,10469,Multi Family,2003,81,89,"Attached, 1 Car Attached, Driveway",No,No,No,No,No,3,4.333333
97,2071221858,90-10-Hollis-Ct-Queens-Village-NY-11428,939000.0,3.0,2.0,1500.0,11004,Single Family Residence,1955,78,52,"Attached, 1 Car Attached, Driveway, Off Street",Yes,No,No,No,No,3,6.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,244747845,1035-5th-Ave-9D-New-York-NY-10028,2650000.0,2.0,2.0,233923.0,10028,Cooperative,1928,98,100,0 spaces,No,No,No,No,No,3,7.333333
621,29845700,1025-Vincent-Ave-Bronx-NY-10465,565000.0,3.0,2.0,1636.0,10465,Single Family Residence,1955,84,62,"Attached, 1 Car Attached, Driveway",No,No,No,No,No,3,5.666667
412,244772652,100-W-72nd-St-APT-2F-New-York-NY-10023,1175000.0,3.0,2.0,1350.0,10016,Cooperative,1900,99,100,0 spaces,No,No,No,No,No,3,6.333333
156,2088712539,10-Bay-Street-Lndg-APT-8I-Staten-Island-NY-10301,540000.0,2.0,2.0,1590.0,10301,Apartment,1982,88,79,"No Garage, Assigned",No,No,No,No,No,3,3.333333
203,300194965,1-W-End-Ave-21D-New-York-NY-10023,2490000.0,2.0,2.0,1397.0,10023,Condo,2017,96,100,No Data,Yes,No,No,No,No,2,6.000000

In [15]:
# Check that listing_id values are unique
pd.Series(house_df['listing_id']).is_unique

True

In [16]:
# Double check with a different method
duplicate_listing_id = house_df[house_df.duplicated(['listing_id'])]

In [17]:
duplicate_listing_id

Empty DataFrame
Columns: [listing_id, address, price, beds, baths, sqft, zipcode, property_type, year_built, walk_score, transit_score, parking, pool, city_view, water_view, park_view, mountain_view, num_schools, avg_school_rating]
Index: []

In [18]:
# Set listing_id as the df index
house_df = house_df.set_index('listing_id')

In [19]:
house_df

,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,transit_score,parking,pool,city_view,water_view,park_view,mountain_view,num_schools,avg_school_rating
listing_id,,,,,,,,,,,,,,,,,,
32334694,96-Cuba-Ave-Staten-Island-NY-10306,578000.0,3.0,2.0,1170.0,10306,Single Family - Semi-Attached,1965,67,63,"No Garage, Off Street",No,No,No,No,No,3,5.000000
29793328,943-Wheeler-Ave-Bronx-NY-10473,485000.0,1.0,1.0,598.0,10451,Condo,2018,94,100,None,No,No,No,No,No,2,6.000000
29847699,912-Quincy-Ave-Bronx-NY-10465,829000.0,6.0,4.0,3087.0,10462,Multi Family,1899,92,93,Off Street,No,No,No,No,No,3,4.000000
142675618,903-E-214th-St-Bronx-NY-10469,825000.0,6.0,5.0,2080.0,10469,Multi Family,2003,81,89,"Attached, 1 Car Attached, Driveway",No,No,No,No,No,3,4.333333
2071221858,90-10-Hollis-Ct-Queens-Village-NY-11428,939000.0,3.0,2.0,1500.0,11004,Single Family Residence,1955,78,52,"Attached, 1 Car Attached, Driveway, Off Street",Yes,No,No,No,No,3,6.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244747845,1035-5th-Ave-9D-New-York-NY-10028,2650000.0,2.0,2.0,233923.0,10028,Cooperative,1928,98,100,0 spaces,No,No,No,No,No,3,7.333333
29845700,1025-Vincent-Ave-Bronx-NY-10465,565000.0,3.0,2.0,1636.0,10465,Single Family Residence,1955,84,62,"Attached, 1 Car Attached, Driveway",No,No,No,No,No,3,5.666667
244772652,100-W-72nd-St-APT-2F-New-York-NY-10023,1175000.0,3.0,2.0,1350.0,10016,Cooperative,1900,99,100,0 spaces,No,No,No,No,No,3,6.333333
2088712539,10-Bay-Street-Lndg-APT-8I-Staten-Island-NY-10301,540000.0,2.0,2.0,1590.0,10301,Apartment,1982,88,79,"No Garage, Assigned",No,No,No,No,No,3,3.333333
300194965,1-W-End-Ave-21D-New-York-NY-10023,2490000.0,2.0,2.0,1397.0,10023,Condo,2017,96,100,No Data,Yes,No,No,No,No,2,6.000000

### Parking

In [20]:
# Check how many different values there are in the column parking
house_df['parking'].value_counts()

0 spaces                                                       69
No Garage, Off Street                                          15
Built-in, Garage, Off Street                                   10
Garage - Attached                                               8
No Data                                                         6
None                                                            6
Garage - Attached,                                              6
Attached, 1 Car Attached, Driveway                              4
Detached, Garage, Off Street                                    4
Driveway                                                        4
On-street                                                       3
Built-in, Garage, Carport                                       3
No Garage, Off Street, On Street                                3
Built-in, Garage, Off Street, On Street, Garage Door Opener     3
No Garage, Assigned                                             2
Garage - Detached                                               2
Garage                                                          2
No Garage, Carport                                              2
Built-in, Garage, Assigned                                      2
Garage - Detached,                                              2
No Garage, None                                                 1
Attached, 1 Car Attached, Driveway, Off Street                  1
On Street                                                       1
Private Drive, 4 Spaces, Attached Garage, Parking Area          1
Common, Driveway                                                1
Attached, Garage, Assigned, Off Street                          1
Driveway, On Street                                             1
Street, None                                                    1
Built-in, Garage, Off Street, Garage Door Opener                1
Detached, Garage, Carport, Off Street, On Street                1
Built-in, Garage, Off Street, On Street                         1
Off-street,                                                     1
Driveway, Private                                               1
Attached, Built-in, Garage, Carport, Off Street, On Street      1
Built-in, Attached, Garage, Carport, Garage Door Opener         1
Assigned, On Street                                             1
Detached, Garage, Carport                                       1
No Garage, Carport, Off Street                                  1
Built-in, Garage, On Street                                     1
Waitlist                                                        1
None, Off Street, Storage, On Street                            1
Attached, Garage, Assigned, Off Street, On Street               1
Detached, 4+ Car Detached                                       1
Garage - Detached, Off-street,                                  1
Built-in, Attached, Garage, Off Street                          1
Public Parking                                                  1
Attached, Garage, Off Street, On Street                         1
Carport, 1 Space                                                1
No Garage, Assigned, Off Street                                 1
Attached, 1 Car Attached, Assigned                              1
Private                                                         1
Off Street                                                      1
No Garage, Assigned, On Street                                  1
Parking Lot, On Street                                          1
On Street, Unassigned                                           1
No Garage, On Street                                            1
Name: parking, dtype: int64

By investigating what different versions of parking mean in Real Estate, I found that these categories are equivalent to "no parking on the property": <br\>
- '0 spaces'
- 'No Data' 
- 'None'
- 'On-street',
- 'Street, None', 
- 'Public Parking', 
- 'On Street, Unassigned', 
- 'No Garage, On Street' <br\>

Therefore, in my definition of *parking* all these parking categories will be assigned a value of zero. The remaining categories will be assigned a value of 1.

In [21]:
# Transform variable parking from categorical nominal to categorical binary
house_df['parking_binary'] = house_df.parking.apply(lambda x: 0 if x in ['0 spaces','No Data','None','On-street','Street, None', 'Public Parking', 'On Street, Unassigned', 'No Garage, On Street'] else 1)

In [22]:
house_df

,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,transit_score,parking,pool,city_view,water_view,park_view,mountain_view,num_schools,avg_school_rating,parking_binary
listing_id,,,,,,,,,,,,,,,,,,,
32334694,96-Cuba-Ave-Staten-Island-NY-10306,578000.0,3.0,2.0,1170.0,10306,Single Family - Semi-Attached,1965,67,63,"No Garage, Off Street",No,No,No,No,No,3,5.000000,1
29793328,943-Wheeler-Ave-Bronx-NY-10473,485000.0,1.0,1.0,598.0,10451,Condo,2018,94,100,None,No,No,No,No,No,2,6.000000,0
29847699,912-Quincy-Ave-Bronx-NY-10465,829000.0,6.0,4.0,3087.0,10462,Multi Family,1899,92,93,Off Street,No,No,No,No,No,3,4.000000,1
142675618,903-E-214th-St-Bronx-NY-10469,825000.0,6.0,5.0,2080.0,10469,Multi Family,2003,81,89,"Attached, 1 Car Attached, Driveway",No,No,No,No,No,3,4.333333,1
2071221858,90-10-Hollis-Ct-Queens-Village-NY-11428,939000.0,3.0,2.0,1500.0,11004,Single Family Residence,1955,78,52,"Attached, 1 Car Attached, Driveway, Off Street",Yes,No,No,No,No,3,6.333333,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244747845,1035-5th-Ave-9D-New-York-NY-10028,2650000.0,2.0,2.0,233923.0,10028,Cooperative,1928,98,100,0 spaces,No,No,No,No,No,3,7.333333,0
29845700,1025-Vincent-Ave-Bronx-NY-10465,565000.0,3.0,2.0,1636.0,10465,Single Family Residence,1955,84,62,"Attached, 1 Car Attached, Driveway",No,No,No,No,No,3,5.666667,1
244772652,100-W-72nd-St-APT-2F-New-York-NY-10023,1175000.0,3.0,2.0,1350.0,10016,Cooperative,1900,99,100,0 spaces,No,No,No,No,No,3,6.333333,0
2088712539,10-Bay-Street-Lndg-APT-8I-Staten-Island-NY-10301,540000.0,2.0,2.0,1590.0,10301,Apartment,1982,88,79,"No Garage, Assigned",No,No,No,No,No,3,3.333333,1
300194965,1-W-End-Ave-21D-New-York-NY-10023,2490000.0,2.0,2.0,1397.0,10023,Condo,2017,96,100,No Data,Yes,No,No,No,No,2,6.000000,0

In [28]:
# Check data transformation was executed correctly
no_parking = (house_df['parking_binary'] == 0)

In [31]:
house_df[no_parking].head()

,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,transit_score,parking,pool,city_view,water_view,park_view,mountain_view,num_schools,avg_school_rating,parking_binary
listing_id,,,,,,,,,,,,,,,,,,,
29793328,943-Wheeler-Ave-Bronx-NY-10473,485000.0,1.0,1.0,598.0,10451,Condo,2018,94,100,None,No,No,No,No,No,2,6.000000,0
2077242886,880-Boynton-Ave-APT-7K-Bronx-NY-10473,328000.0,2.0,1.0,900.0,10473,Cooperative,1962,73,83,0 spaces,No,No,No,No,No,3,4.333333,0
79489728,856-43rd-St-APT-12-Brooklyn-NY-11232,630000.0,2.0,1.0,800.0,11232,Cooperative,1922,93,85,None,No,No,No,No,No,2,6.000000,0
117451325,845-W-End-Ave-APT-4F-New-York-NY-10025,2600000.0,3.0,3.0,1634.0,10025,Condo,1926,98,100,0 spaces,No,No,No,No,No,3,3.000000,0
2071187932,81-Powers-St-3F-Brooklyn-NY-11211,775000.0,1.0,1.0,579.0,11211,Condo,1899,99,100,0 spaces,No,No,No,No,No,3,5.000000,0

In [75]:
house_df.head()

,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,transit_score,parking,num_schools,avg_school_rating,parking_binary,pool_binary,city_view_binary,water_view_binary,park_view_binary,mountain_view_binary
listing_id,,,,,,,,,,,,,,,,,,,
32334694,96-Cuba-Ave-Staten-Island-NY-10306,578000.0,3.0,2.0,1170.0,10306,Single Family - Semi-Attached,1965,67,63,"No Garage, Off Street",3,5.000000,1,0,0,0,0,0
29793328,943-Wheeler-Ave-Bronx-NY-10473,485000.0,1.0,1.0,598.0,10451,Condo,2018,94,100,None,2,6.000000,0,0,0,0,0,0
29847699,912-Quincy-Ave-Bronx-NY-10465,829000.0,6.0,4.0,3087.0,10462,Multi Family,1899,92,93,Off Street,3,4.000000,1,0,0,0,0,0
142675618,903-E-214th-St-Bronx-NY-10469,825000.0,6.0,5.0,2080.0,10469,Multi Family,2003,81,89,"Attached, 1 Car Attached, Driveway",3,4.333333,1,0,0,0,0,0
2071221858,90-10-Hollis-Ct-Queens-Village-NY-11428,939000.0,3.0,2.0,1500.0,11004,Single Family Residence,1955,78,52,"Attached, 1 Car Attached, Driveway, Off Street",3,6.333333,1,1,0,0,0,0

In [35]:
house_df['parking_binary'].value_counts()

1    104
0     88
Name: parking_binary, dtype: int64

### Pool

In [32]:
# Check how many different values there are in the column pool
house_df['pool'].value_counts()

No     166
Yes     26
Name: pool, dtype: int64

I will transform this variable so the listings with a pool will display a value of 1 and the listings without a pool will present a value of 0.

In [33]:
# Convert pool to categorical binary
house_df['pool_binary'] = house_df.pool.apply(lambda x: 0 if x == 'No' else 1)

In [34]:
house_df

,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,transit_score,parking,pool,city_view,water_view,park_view,mountain_view,num_schools,avg_school_rating,parking_binary,pool_binary
listing_id,,,,,,,,,,,,,,,,,,,,
32334694,96-Cuba-Ave-Staten-Island-NY-10306,578000.0,3.0,2.0,1170.0,10306,Single Family - Semi-Attached,1965,67,63,"No Garage, Off Street",No,No,No,No,No,3,5.000000,1,0
29793328,943-Wheeler-Ave-Bronx-NY-10473,485000.0,1.0,1.0,598.0,10451,Condo,2018,94,100,None,No,No,No,No,No,2,6.000000,0,0
29847699,912-Quincy-Ave-Bronx-NY-10465,829000.0,6.0,4.0,3087.0,10462,Multi Family,1899,92,93,Off Street,No,No,No,No,No,3,4.000000,1,0
142675618,903-E-214th-St-Bronx-NY-10469,825000.0,6.0,5.0,2080.0,10469,Multi Family,2003,81,89,"Attached, 1 Car Attached, Driveway",No,No,No,No,No,3,4.333333,1,0
2071221858,90-10-Hollis-Ct-Queens-Village-NY-11428,939000.0,3.0,2.0,1500.0,11004,Single Family Residence,1955,78,52,"Attached, 1 Car Attached, Driveway, Off Street",Yes,No,No,No,No,3,6.333333,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244747845,1035-5th-Ave-9D-New-York-NY-10028,2650000.0,2.0,2.0,233923.0,10028,Cooperative,1928,98,100,0 spaces,No,No,No,No,No,3,7.333333,0,0
29845700,1025-Vincent-Ave-Bronx-NY-10465,565000.0,3.0,2.0,1636.0,10465,Single Family Residence,1955,84,62,"Attached, 1 Car Attached, Driveway",No,No,No,No,No,3,5.666667,1,0
244772652,100-W-72nd-St-APT-2F-New-York-NY-10023,1175000.0,3.0,2.0,1350.0,10016,Cooperative,1900,99,100,0 spaces,No,No,No,No,No,3,6.333333,0,0
2088712539,10-Bay-Street-Lndg-APT-8I-Staten-Island-NY-10301,540000.0,2.0,2.0,1590.0,10301,Apartment,1982,88,79,"No Garage, Assigned",No,No,No,No,No,3,3.333333,1,0
300194965,1-W-End-Ave-21D-New-York-NY-10023,2490000.0,2.0,2.0,1397.0,10023,Condo,2017,96,100,No Data,Yes,No,No,No,No,2,6.000000,0,1

In [36]:
# Check data transformation was executed correctly
no_pool = (house_df['pool_binary'] == 0)

In [37]:
house_df[no_pool].head()

,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,transit_score,parking,pool,city_view,water_view,park_view,mountain_view,num_schools,avg_school_rating,parking_binary,pool_binary
listing_id,,,,,,,,,,,,,,,,,,,,
32334694,96-Cuba-Ave-Staten-Island-NY-10306,578000.0,3.0,2.0,1170.0,10306,Single Family - Semi-Attached,1965,67,63,"No Garage, Off Street",No,No,No,No,No,3,5.000000,1,0
29793328,943-Wheeler-Ave-Bronx-NY-10473,485000.0,1.0,1.0,598.0,10451,Condo,2018,94,100,None,No,No,No,No,No,2,6.000000,0,0
29847699,912-Quincy-Ave-Bronx-NY-10465,829000.0,6.0,4.0,3087.0,10462,Multi Family,1899,92,93,Off Street,No,No,No,No,No,3,4.000000,1,0
142675618,903-E-214th-St-Bronx-NY-10469,825000.0,6.0,5.0,2080.0,10469,Multi Family,2003,81,89,"Attached, 1 Car Attached, Driveway",No,No,No,No,No,3,4.333333,1,0
32294653,89-Greenport-St-Staten-Island-NY-10304,678880.0,3.0,3.0,2000.0,10304,Single Family - Semi-Attached,1989,57,64,"Built-in, Garage, Off Street, Garage Door Opener",No,No,No,No,No,3,3.333333,1,0

In [39]:
house_df['pool_binary'].value_counts()

0    166
1     26
Name: pool_binary, dtype: int64

In [40]:
# Drop feature pool because its information is already captured by pool_binary
house_df = house_df.drop('pool', 1)

In [41]:
house_df.columns

Index(['address', 'price', 'beds', 'baths', 'sqft', 'zipcode', 'property_type',
       'year_built', 'walk_score', 'transit_score', 'parking', 'city_view',
       'water_view', 'park_view', 'mountain_view', 'num_schools',
       'avg_school_rating', 'parking_binary', 'pool_binary'],
      dtype='object')

### Property Views

In [43]:
# Check how many different values there are in the column city_view
house_df['city_view'].value_counts()

No     191
Yes      1
Name: city_view, dtype: int64

In [47]:
# Dummy transformation
house_df['city_view_binary'] = house_df.city_view.apply(lambda x: 0 if x == 'No' else 1)

In [51]:
house_df['city_view_binary'].value_counts()

0    191
1      1
Name: city_view_binary, dtype: int64

In [44]:
# Check how many different values there are in the column water_view
house_df['water_view'].value_counts()

No     191
Yes      1
Name: water_view, dtype: int64

In [48]:
# Dummy transformation
house_df['water_view_binary'] = house_df.water_view.apply(lambda x: 0 if x == 'No' else 1)

In [52]:
house_df['water_view_binary'].value_counts()

0    191
1      1
Name: water_view_binary, dtype: int64

In [45]:
# Check how many different values there are in the column park_view
house_df['park_view'].value_counts()

No    192
Name: park_view, dtype: int64

In [49]:
# Dummy transformation
house_df['park_view_binary'] = house_df.park_view.apply(lambda x: 0 if x == 'No' else 1)

In [54]:
house_df['park_view_binary'].value_counts()

0    192
Name: park_view_binary, dtype: int64

In [46]:
# Check how many different values there are in the column mountain_view
house_df['mountain_view'].value_counts()

No    192
Name: mountain_view, dtype: int64

In [50]:
# Dummy transformation
house_df['mountain_view_binary'] = house_df.mountain_view.apply(lambda x: 0 if x == 'No' else 1)

In [55]:
house_df['mountain_view_binary'].value_counts()

0    192
Name: mountain_view_binary, dtype: int64

In [56]:
# Drop duplicate column
house_df = house_df.drop('city_view', 1)

In [57]:
# Drop duplicate column
house_df = house_df.drop('water_view', 1)

In [58]:
# Drop duplicate column
house_df = house_df.drop('park_view', 1)

In [59]:
# Drop duplicate column
house_df = house_df.drop('mountain_view', 1)

In [60]:
house_df.columns

Index(['address', 'price', 'beds', 'baths', 'sqft', 'zipcode', 'property_type',
       'year_built', 'walk_score', 'transit_score', 'parking', 'num_schools',
       'avg_school_rating', 'parking_binary', 'pool_binary',
       'city_view_binary', 'water_view_binary', 'park_view_binary',
       'mountain_view_binary'],
      dtype='object')

I am intentionally not dropping one of the views columns because the same property can have multiple views.

### Zipcodes

There are 79 zipcodes in the dataset. Also due to the fact that we'll end up with ca. 1500 observations (listings), I will group these zipcodes in neighbourhoods that are **actionable** by the Investment team. 
For this purpose, I've used a combination of the following resources:
- I got my base zipcode-neighbourhood mapping from this [NYC Gov source](https://www1.nyc.gov/assets/doh/downloads/pdf/ah/zipcodetable.pdf)
- I double checked the above list with [this NYC by natives resource](https://www.nycbynatives.com/nyc_info/new_york_city_zip_codes.php) and realized the previous resource was incomplete
- I used triangulated the information from the two above resources, Google Maps, and [ZipDataMaps](https://www.zipdatamaps.com/zipcodes-manhattan-ny) to allocate the missing zipcodes to the neighbourhoods defined by NYC Gov

In [61]:
house_df['zipcode'].value_counts()

10314    11
10312     9
10306     7
10473     5
10462     5
         ..
11208     1
11209     1
11210     1
11211     1
11004     1
Name: zipcode, Length: 79, dtype: int64

In [62]:
zip_df = pd.read_csv('/Users/valentinarizzati/Desktop/zip_neighbourhood_mapping.csv')

In [63]:
zip_df

     Zip codes               Neighborhood
0        10463    Kingsbridge - Riverdale
1        10471    Kingsbridge - Riverdale
2        10466            Northeast Bronx
3        10469            Northeast Bronx
4        10470            Northeast Bronx
..         ...                        ...
231      10306  South Beach - Tottenville
232      10307  South Beach - Tottenville
233      10308  South Beach - Tottenville
234      10309  South Beach - Tottenville
235      10312  South Beach - Tottenville

[236 rows x 2 columns]

In [67]:
zip_df.rename(columns={"Zip codes": "zipcode"}, inplace = True)

In [68]:
zip_df.rename(columns={"Neighborhood": "area"}, inplace = True)

In [69]:
zip_df

     zipcode                       area
0      10463    Kingsbridge - Riverdale
1      10471    Kingsbridge - Riverdale
2      10466            Northeast Bronx
3      10469            Northeast Bronx
4      10470            Northeast Bronx
..       ...                        ...
231    10306  South Beach - Tottenville
232    10307  South Beach - Tottenville
233    10308  South Beach - Tottenville
234    10309  South Beach - Tottenville
235    10312  South Beach - Tottenville

[236 rows x 2 columns]

In [86]:
# Create a new df containing the column area
house_area_df = house_df.reset_index().merge(zip_df, on ='zipcode',how="left").set_index('listing_id')

In [88]:
house_area_df.head(3)

,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,transit_score,parking,num_schools,avg_school_rating,parking_binary,pool_binary,city_view_binary,water_view_binary,park_view_binary,mountain_view_binary,area
listing_id,,,,,,,,,,,,,,,,,,,,
32334694,96-Cuba-Ave-Staten-Island-NY-10306,578000.0,3.0,2.0,1170.0,10306,Single Family - Semi-Attached,1965,67,63,"No Garage, Off Street",3,5.0,1,0,0,0,0,0,South Beach - Tottenville
29793328,943-Wheeler-Ave-Bronx-NY-10473,485000.0,1.0,1.0,598.0,10451,Condo,2018,94,100,None,2,6.0,0,0,0,0,0,0,High Bridge - Morrisania
29793328,943-Wheeler-Ave-Bronx-NY-10473,485000.0,1.0,1.0,598.0,10451,Condo,2018,94,100,None,2,6.0,0,0,0,0,0,0,High Bridge - Morrisania

In [91]:
house_area_df.shape

(193, 20)

In [92]:
house_df.shape

(192, 19)

The new dataframe has one more row than the original one. We might have a duplicate in listing_id.

In [99]:
house_area_df.reset_index(inplace = True)

In [100]:
house_area_df['listing_id'].value_counts()

29793328      2
2071224551    1
30643384      1
32321114      1
29801283      1
             ..
31503823      1
83042314      1
143101224     1
316676210     1
32289355      1
Name: listing_id, Length: 192, dtype: int64

In [107]:
# Mask the duplicate listing id to 
duplicate_id = (house_area_df['listing_id'] == '29793328')
house_area_df[duplicate_id]

,listing_id,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,...,parking,num_schools,avg_school_rating,parking_binary,pool_binary,city_view_binary,water_view_binary,park_view_binary,mountain_view_binary,area
1,29793328,943-Wheeler-Ave-Bronx-NY-10473,485000.0,1.0,1.0,598.0,10451,Condo,2018,94,...,None,2,6.0,0,0,0,0,0,0,High Bridge - Morrisania
2,29793328,943-Wheeler-Ave-Bronx-NY-10473,485000.0,1.0,1.0,598.0,10451,Condo,2018,94,...,None,2,6.0,0,0,0,0,0,0,High Bridge - Morrisania

In [108]:
# Drop duplicates
house_area_df.sort_values(["listing_id"], inplace=True, ascending=False)
house_area_df.drop_duplicates(subset=["listing_id"], inplace=True)

In [109]:
house_area_df['listing_id'].value_counts()

2071224551    1
30791563      1
2071615931    1
83050430      1
30643384      1
             ..
32320034      1
29835591      1
117451325     1
244844467     1
119916122     1
Name: listing_id, Length: 192, dtype: int64

In [111]:
house_area_df.shape

(192, 21)

The duplicate observation has been correctly removed.

In [117]:
house_area_df['area'].value_counts()

South Beach - Tottenville               27
Pelham - Throgs Neck                    18
Gramercy Park - Murray Hill             12
Stapleton - St. George                  12
Willowbrook                             11
Port Richmond                           11
Kingsbridge - Riverdale                 10
Northeast Bronx                         10
Downtown - Heights - Park Slope         10
Upper West Side                         10
Chelsea - Clinton                        8
Greenwich Village - SoHo                 5
Central Harlem - Morningside Heights     5
Coney Island - Sheepshead Bay            4
Union Square - Lower East Side           4
Bensonhurst - Bay Ridge                  3
Washington Heights - Inwood              3
Fordham - Bronx Park                     3
High Bridge - Morrisania                 3
Upper East Side                          3
Canarsie - Flatlands                     3
Bedford Stuyvesant - Crown Heights       3
Crotona - Tremont                        3
Lower Manhattan                          2
Williamsburg - Bushwick                  2
Borough Park                             2
East Flatbush - Flatbush                 1
Sunset Park                              1
East New York                            1
Greenpoint                               1
Southeast Queens                         1
Name: area, dtype: int64

In [145]:
# Apply feature engineering to the column areas, derived from zipcode
house_all_areas_df = pd.concat([house_area_df, pd.get_dummies(house_area_df['area'], drop_first = True)], axis=1)

In [146]:
house_all_areas_df.head(3)

,listing_id,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,...,South Beach - Tottenville,Southeast Queens,Stapleton - St. George,Sunset Park,Union Square - Lower East Side,Upper East Side,Upper West Side,Washington Heights - Inwood,Williamsburg - Bushwick,Willowbrook
90,97495573,33-W-56th-St-APT-6E-New-York-NY-10019,1650000.0,2.0,3.0,206411.0,10022,Cooperative,1938,98,...,0,0,0,0,0,0,0,0,0,0
94,89459737,310-E-46th-St-APT-5-E-New-York-NY-10017,1139000.0,1.0,1.0,1209.0,10017,Apartment,1929,100,...,0,0,0,0,0,0,0,0,0,0
67,89335782,420-W-25th-St-APT-1A-New-York-NY-10001,1299998.0,1.0,2.0,1189.0,10001,Condo,1912,99,...,0,0,0,0,0,0,0,0,0,0

In [147]:
# Check area associated with a specific listing and compare with the area presented in the new dataframe below 
test_mask = house_area_df[(house_area_df['listing_id'] == '97495573')]
test_mask['area']

90    Gramercy Park - Murray Hill
Name: area, dtype: object

In [148]:
# Check area associated with a specific listing and compare with the area presented in the new dataframe below
comparison_mask = house_all_areas_df[(house_area_df['listing_id'] == '97495573')]
comparison_mask['Gramercy Park - Murray Hill']

90    1
Name: Gramercy Park - Murray Hill, dtype: uint8

In [149]:
house_all_areas_df.shape

(192, 51)

In [150]:
house_all_areas_df.columns

Index(['listing_id', 'address', 'price', 'beds', 'baths', 'sqft', 'zipcode',
       'property_type', 'year_built', 'walk_score', 'transit_score', 'parking',
       'num_schools', 'avg_school_rating', 'parking_binary', 'pool_binary',
       'city_view_binary', 'water_view_binary', 'park_view_binary',
       'mountain_view_binary', 'area', 'Bensonhurst - Bay Ridge',
       'Borough Park', 'Canarsie - Flatlands',
       'Central Harlem - Morningside Heights', 'Chelsea - Clinton',
       'Coney Island - Sheepshead Bay', 'Crotona - Tremont',
       'Downtown - Heights - Park Slope', 'East Flatbush - Flatbush',
       'East New York', 'Fordham - Bronx Park', 'Gramercy Park - Murray Hill',
       'Greenpoint', 'Greenwich Village - SoHo', 'High Bridge - Morrisania',
       'Kingsbridge - Riverdale', 'Lower Manhattan', 'Northeast Bronx',
       'Pelham - Throgs Neck', 'Port Richmond', 'South Beach - Tottenville',
       'Southeast Queens', 'Stapleton - St. George', 'Sunset Park',
       'Union Square - Lower East Side', 'Upper East Side', 'Upper West Side',
       'Washington Heights - Inwood', 'Williamsburg - Bushwick',
       'Willowbrook'],
      dtype='object')

In [151]:
# Drop parking since it's a duplicate of parking_binary
house_all_areas_df = house_all_areas_df.drop('parking', 1)

In [152]:
# Drop zipcode since the listing's location is represented by the feature area
house_all_areas_df = house_all_areas_df.drop('zipcode', 1)

In [153]:
house_all_areas_df.shape

(192, 49)

In [154]:
house_all_areas_df.columns

Index(['listing_id', 'address', 'price', 'beds', 'baths', 'sqft',
       'property_type', 'year_built', 'walk_score', 'transit_score',
       'num_schools', 'avg_school_rating', 'parking_binary', 'pool_binary',
       'city_view_binary', 'water_view_binary', 'park_view_binary',
       'mountain_view_binary', 'area', 'Bensonhurst - Bay Ridge',
       'Borough Park', 'Canarsie - Flatlands',
       'Central Harlem - Morningside Heights', 'Chelsea - Clinton',
       'Coney Island - Sheepshead Bay', 'Crotona - Tremont',
       'Downtown - Heights - Park Slope', 'East Flatbush - Flatbush',
       'East New York', 'Fordham - Bronx Park', 'Gramercy Park - Murray Hill',
       'Greenpoint', 'Greenwich Village - SoHo', 'High Bridge - Morrisania',
       'Kingsbridge - Riverdale', 'Lower Manhattan', 'Northeast Bronx',
       'Pelham - Throgs Neck', 'Port Richmond', 'South Beach - Tottenville',
       'Southeast Queens', 'Stapleton - St. George', 'Sunset Park',
       'Union Square - Lower East Side', 'Upper East Side', 'Upper West Side',
       'Washington Heights - Inwood', 'Williamsburg - Bushwick',
       'Willowbrook'],
      dtype='object')

In [141]:
cols = house_all_areas_df.columns.tolist()

In [155]:
house_all_areas_df = house_all_areas_df[['listing_id','price', 'beds', 'baths', 'sqft',
       'property_type', 'year_built', 'walk_score', 'transit_score',
       'num_schools', 'avg_school_rating', 'parking_binary', 'pool_binary',
       'city_view_binary', 'water_view_binary', 'park_view_binary',
       'mountain_view_binary', 'address', 'area', 'Bensonhurst - Bay Ridge',
       'Borough Park', 'Canarsie - Flatlands',
       'Central Harlem - Morningside Heights', 'Chelsea - Clinton',
       'Coney Island - Sheepshead Bay', 'Crotona - Tremont',
       'Downtown - Heights - Park Slope', 'East Flatbush - Flatbush',
       'East New York', 'Fordham - Bronx Park', 'Gramercy Park - Murray Hill',
       'Greenpoint', 'Greenwich Village - SoHo', 'High Bridge - Morrisania',
       'Kingsbridge - Riverdale', 'Lower Manhattan', 'Northeast Bronx',
       'Pelham - Throgs Neck', 'Port Richmond', 'South Beach - Tottenville',
       'Southeast Queens', 'Stapleton - St. George', 'Sunset Park',
       'Union Square - Lower East Side', 'Upper East Side', 'Upper West Side',
       'Washington Heights - Inwood', 'Williamsburg - Bushwick',
       'Willowbrook']]

In [156]:
house_all_areas_df.head(2)

,listing_id,price,beds,baths,sqft,property_type,year_built,walk_score,transit_score,num_schools,...,South Beach - Tottenville,Southeast Queens,Stapleton - St. George,Sunset Park,Union Square - Lower East Side,Upper East Side,Upper West Side,Washington Heights - Inwood,Williamsburg - Bushwick,Willowbrook
90,97495573,1650000.0,2.0,3.0,206411.0,Cooperative,1938,98,100,3,...,0,0,0,0,0,0,0,0,0,0
94,89459737,1139000.0,1.0,1.0,1209.0,Apartment,1929,100,100,3,...,0,0,0,0,0,0,0,0,0,0

In [157]:
house_all_areas_df.isnull().values.any()

False

There are no missing values in the newly created dataframe.

In [158]:
# Store df in pickle object
house_all_areas_df.to_pickle('house_all_areas_df.pickle')

## Data Cleaning on second dataset from Scraping Iteration #2

In [196]:
house_df_2 = pd.read_pickle('house_df_2.pickle')

In [197]:
house_df_2.head()

,url,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,transit_score,parking,pool,city_view,water_view,park_view,mountain_view,num_schools,avg_school_rating,address,listing_id
540,homedetails/9935-Shore-Rd-APT-7B-Brooklyn-NY-1...,2399000.0,3.0,2.0,1655.0,11209,Condo,2004,88,82,0 spaces,No,No,No,No,No,2,6.0,9935-Shore-Rd-APT-7B-Brooklyn-NY-11209,64697773
1252,homedetails/99-John-St-APT-2107-New-York-NY-10...,929000.0,1.0,1.0,754.0,10038,Condo,2003,100,100,0 spaces,No,No,No,No,No,2,8.5,99-John-St-APT-2107-New-York-NY-10038,89335748
480,homedetails/98-Luquer-St-Brooklyn-NY-11231/207...,2500000.0,2.0,4.0,1347.0,11201,Condo,2019,99,100,0 spaces,Yes,No,No,No,No,2,5.0,98-Luquer-St-Brooklyn-NY-11231,2071063223
1578,homedetails/98-Front-St-PENTHOUSE-1C-Brooklyn-...,2195000.0,2.0,2.0,1101.0,11201,Condo,2019,99,100,0 spaces,Yes,No,No,No,No,2,5.0,98-Front-St-PENTHOUSE-1C-Brooklyn-NY-11201,2071137389
1315,homedetails/98-Front-St-GRB-Brooklyn-NY-11201/...,3250000.0,2.0,4.0,1728.0,11201,Condo,2019,99,100,0 spaces,Yes,No,No,No,No,2,5.0,98-Front-St-GRB-Brooklyn-NY-11201,2071143215

In [198]:
house_df_2.info

<bound method DataFrame.info of                                                     url      price  beds  \
540   homedetails/9935-Shore-Rd-APT-7B-Brooklyn-NY-1...  2399000.0   3.0
1252  homedetails/99-John-St-APT-2107-New-York-NY-10...   929000.0   1.0
480   homedetails/98-Luquer-St-Brooklyn-NY-11231/207...  2500000.0   2.0
1578  homedetails/98-Front-St-PENTHOUSE-1C-Brooklyn-...  2195000.0   2.0
1315  homedetails/98-Front-St-GRB-Brooklyn-NY-11201/...  3250000.0   2.0
...                                                 ...        ...   ...
1744  homedetails/1001-Park-Ave-12S-New-York-NY-1002...  3500000.0   3.0
347   homedetails/100-Pilling-St-Brooklyn-NY-11207/3...  1988000.0   6.0
1596  homedetails/10-Mickardan-Ct-Staten-Island-NY-1...   425000.0   3.0
1647  homedetails/10-Kay-Pl-Staten-Island-NY-10305/3...   649000.0   3.0
437   homedetails/1-Main-St-APT-4J-Brooklyn-NY-11201...  3150000.0   2.0

      baths     sqft  zipcode             property_type  year_built  \
540     2.0   1655.0    11209                     Condo        2004
1252    1.0    754.0    10038                     Condo        2003
480     4.0   1347.0    11201                     Condo        2019
1578    2.0   1101.0    11201                     Condo        2019
1315    4.0   1728.0    11201                     Condo        2019
...     ...      ...      ...                       ...         ...
1744    3.0  68569.0    10028               Cooperative        1928
347     4.0   4240.0    11207               MultiFamily        1905
1596    3.0   1386.0    10304   Single Family Residence        2002
1647    3.0   1375.0    10305  Single Family - Attached        1988
437     3.0   2005.0    11201                     Condo        1916

      walk_score  transit_score                               parking pool  \
540           88             82                              0 spaces   No
1252         100            100                              0 spaces   No
480           99            100                              0 spaces  Yes
1578          99            100                              0 spaces  Yes
1315          99            100                              0 spaces  Yes
...          ...            ...                                   ...  ...
1744          99            100                              0 spaces   No
347           81            100                              0 spaces   No
1596          58             68   Attached, 1 Car Attached, On Street   No
1647          71             72  Attached, Built-in, Garage, Assigned   No
437           98            100                                  None   No

     city_view water_view park_view mountain_view  num_schools  \
540         No         No        No            No            2
1252        No         No        No            No            2
480         No         No        No            No            2
1578        No         No        No            No            2
1315        No         No        No            No            2
...        ...        ...       ...           ...          ...
1744        No         No        No            No            3
347         No         No        No            No            2
1596        No         No        No            No            3
1647        No         No        No            No            3
437         No         No        No            No            2

      avg_school_rating                                     address  \
540            6.000000      9935-Shore-Rd-APT-7B-Brooklyn-NY-11209
1252           8.500000       99-John-St-APT-2107-New-York-NY-10038
480            5.000000              98-Luquer-St-Brooklyn-NY-11231
1578           5.000000  98-Front-St-PENTHOUSE-1C-Brooklyn-NY-11201
1315           5.000000           98-Front-St-GRB-Brooklyn-NY-11201
...                 ...                                         ...
1744           7.333333         1001-Park-Ave-12S-New-York-NY-10028
347            5.500000            100-Pilling-St-Brooklyn-NY-11207
1596           3.333333      10-Mickardan-Ct-Staten-Island-NY-10304
1647           4.333333            10-Kay-Pl-Staten-Island-NY-10305
437            5.000000          1-Main-St-APT-4J-Brooklyn-NY-11201

      listing_id
540     64697773
1252    89335748
480   2071063223
1578  2071137389
1315  2071143215
...          ...
1744   321913843
347     30631179
1596    62723227
1647    32321163
437     30566097

[668 rows x 20 columns]>

In [200]:
house_df_2.shape

(668, 20)

In [199]:
house_df_2.columns

Index(['url', 'price', 'beds', 'baths', 'sqft', 'zipcode', 'property_type',
       'year_built', 'walk_score', 'transit_score', 'parking', 'pool',
       'city_view', 'water_view', 'park_view', 'mountain_view', 'num_schools',
       'avg_school_rating', 'address', 'listing_id'],
      dtype='object')

In [201]:
# Rearrange columns
house_df_2 = house_df_2[['url', 'listing_id', 'address', 'price', 'beds', 'baths', 'sqft', 'zipcode', 'property_type',
                    'year_built', 'walk_score', 'transit_score', 'parking', 'pool','city_view', 'water_view', 'park_view', 
                    'mountain_view', 'num_schools','avg_school_rating']]

In [202]:
# Column url is now superfluous and can be dropped. We have already extrapolated the needed information in listing_id and address.
house_df_2 = house_df_2.drop('url', 1)

In [203]:
# Check that listing_id values are unique
pd.Series(house_df_2['listing_id']).is_unique

True

In [204]:
# Double check with a different method
duplicate_listing_id_2 = house_df_2[house_df_2.duplicated(['listing_id'])]

In [205]:
duplicate_listing_id_2

Empty DataFrame
Columns: [listing_id, address, price, beds, baths, sqft, zipcode, property_type, year_built, walk_score, transit_score, parking, pool, city_view, water_view, park_view, mountain_view, num_schools, avg_school_rating]
Index: []

## Data Transformation

### Parking

In [206]:
# Check how many different values there are in the column parking
house_df['parking'].value_counts()

0 spaces                                                       69
No Garage, Off Street                                          15
Built-in, Garage, Off Street                                   10
Garage - Attached                                               8
No Data                                                         6
None                                                            6
Garage - Attached,                                              6
Attached, 1 Car Attached, Driveway                              4
Detached, Garage, Off Street                                    4
Driveway                                                        4
On-street                                                       3
Built-in, Garage, Carport                                       3
No Garage, Off Street, On Street                                3
Built-in, Garage, Off Street, On Street, Garage Door Opener     3
No Garage, Assigned                                             2
Garage - Detached                                               2
Garage                                                          2
No Garage, Carport                                              2
Built-in, Garage, Assigned                                      2
Garage - Detached,                                              2
No Garage, None                                                 1
Attached, 1 Car Attached, Driveway, Off Street                  1
On Street                                                       1
Private Drive, 4 Spaces, Attached Garage, Parking Area          1
Common, Driveway                                                1
Attached, Garage, Assigned, Off Street                          1
Driveway, On Street                                             1
Street, None                                                    1
Built-in, Garage, Off Street, Garage Door Opener                1
Detached, Garage, Carport, Off Street, On Street                1
Built-in, Garage, Off Street, On Street                         1
Off-street,                                                     1
Driveway, Private                                               1
Attached, Built-in, Garage, Carport, Off Street, On Street      1
Built-in, Attached, Garage, Carport, Garage Door Opener         1
Assigned, On Street                                             1
Detached, Garage, Carport                                       1
No Garage, Carport, Off Street                                  1
Built-in, Garage, On Street                                     1
Waitlist                                                        1
None, Off Street, Storage, On Street                            1
Attached, Garage, Assigned, Off Street, On Street               1
Detached, 4+ Car Detached                                       1
Garage - Detached, Off-street,                                  1
Built-in, Attached, Garage, Off Street                          1
Public Parking                                                  1
Attached, Garage, Off Street, On Street                         1
Carport, 1 Space                                                1
No Garage, Assigned, Off Street                                 1
Attached, 1 Car Attached, Assigned                              1
Private                                                         1
Off Street                                                      1
No Garage, Assigned, On Street                                  1
Parking Lot, On Street                                          1
On Street, Unassigned                                           1
No Garage, On Street                                            1
Name: parking, dtype: int64

By investigating what different versions of parking mean in Real Estate, I found that these categories are equivalent to "no parking on the property":
- '0 spaces'
- 'No Data' 
- 'None'
- 'On-street',
- 'Street, None', 
- 'Public Parking', 
- 'On Street, Unassigned', 
- 'No Garage, On Street'
- 'No Garage, None'
- 'On Street'

Therefore, in my definition of *parking* all these parking categories will be assigned a value of zero. The remaining categories will be assigned a value of 1.

In [213]:
house_df_2['parking_binary'] = house_df_2.parking.apply(lambda x: 0 if x in ['0 spaces',
                                                                            'No Data',
                                                                            'None',
                                                                            'On-street',
                                                                            'Street, None',
                                                                            'Public Parking',
                                                                            'On Street, Unassigned',
                                                                            'No Garage, On Street',
                                                                            'No Garage, None',
                                                                            'On Street'] else 1)

In [214]:
house_df_2.head()

,listing_id,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,transit_score,parking,pool,city_view,water_view,park_view,mountain_view,num_schools,avg_school_rating,parking_binary
540,64697773,9935-Shore-Rd-APT-7B-Brooklyn-NY-11209,2399000.0,3.0,2.0,1655.0,11209,Condo,2004,88,82,0 spaces,No,No,No,No,No,2,6.0,0
1252,89335748,99-John-St-APT-2107-New-York-NY-10038,929000.0,1.0,1.0,754.0,10038,Condo,2003,100,100,0 spaces,No,No,No,No,No,2,8.5,0
480,2071063223,98-Luquer-St-Brooklyn-NY-11231,2500000.0,2.0,4.0,1347.0,11201,Condo,2019,99,100,0 spaces,Yes,No,No,No,No,2,5.0,0
1578,2071137389,98-Front-St-PENTHOUSE-1C-Brooklyn-NY-11201,2195000.0,2.0,2.0,1101.0,11201,Condo,2019,99,100,0 spaces,Yes,No,No,No,No,2,5.0,0
1315,2071143215,98-Front-St-GRB-Brooklyn-NY-11201,3250000.0,2.0,4.0,1728.0,11201,Condo,2019,99,100,0 spaces,Yes,No,No,No,No,2,5.0,0

In [215]:
# Check data transformation was executed correctly
no_parking = (house_df_2['parking_binary'] == 0)

In [216]:
house_df_2[no_parking].head()

,listing_id,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,transit_score,parking,pool,city_view,water_view,park_view,mountain_view,num_schools,avg_school_rating,parking_binary
540,64697773,9935-Shore-Rd-APT-7B-Brooklyn-NY-11209,2399000.0,3.0,2.0,1655.0,11209,Condo,2004,88,82,0 spaces,No,No,No,No,No,2,6.0,0
1252,89335748,99-John-St-APT-2107-New-York-NY-10038,929000.0,1.0,1.0,754.0,10038,Condo,2003,100,100,0 spaces,No,No,No,No,No,2,8.5,0
480,2071063223,98-Luquer-St-Brooklyn-NY-11231,2500000.0,2.0,4.0,1347.0,11201,Condo,2019,99,100,0 spaces,Yes,No,No,No,No,2,5.0,0
1578,2071137389,98-Front-St-PENTHOUSE-1C-Brooklyn-NY-11201,2195000.0,2.0,2.0,1101.0,11201,Condo,2019,99,100,0 spaces,Yes,No,No,No,No,2,5.0,0
1315,2071143215,98-Front-St-GRB-Brooklyn-NY-11201,3250000.0,2.0,4.0,1728.0,11201,Condo,2019,99,100,0 spaces,Yes,No,No,No,No,2,5.0,0

In [217]:
house_df_2['parking_binary'].value_counts()

0    360
1    308
Name: parking_binary, dtype: int64

### Pool

In [218]:
# Check how many different values there are in the column pool
house_df_2['pool'].value_counts()

No     580
Yes     88
Name: pool, dtype: int64

I will transform this variable so the listings with a pool will display a value of 1 and the listings without a pool will present a value of 0.

In [219]:
house_df_2['pool_binary'] = house_df_2.pool.apply(lambda x: 0 if x == 'No' else 1)

In [220]:
house_df_2

,listing_id,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,...,parking,pool,city_view,water_view,park_view,mountain_view,num_schools,avg_school_rating,parking_binary,pool_binary
540,64697773,9935-Shore-Rd-APT-7B-Brooklyn-NY-11209,2399000.0,3.0,2.0,1655.0,11209,Condo,2004,88,...,0 spaces,No,No,No,No,No,2,6.000000,0,0
1252,89335748,99-John-St-APT-2107-New-York-NY-10038,929000.0,1.0,1.0,754.0,10038,Condo,2003,100,...,0 spaces,No,No,No,No,No,2,8.500000,0,0
480,2071063223,98-Luquer-St-Brooklyn-NY-11231,2500000.0,2.0,4.0,1347.0,11201,Condo,2019,99,...,0 spaces,Yes,No,No,No,No,2,5.000000,0,1
1578,2071137389,98-Front-St-PENTHOUSE-1C-Brooklyn-NY-11201,2195000.0,2.0,2.0,1101.0,11201,Condo,2019,99,...,0 spaces,Yes,No,No,No,No,2,5.000000,0,1
1315,2071143215,98-Front-St-GRB-Brooklyn-NY-11201,3250000.0,2.0,4.0,1728.0,11201,Condo,2019,99,...,0 spaces,Yes,No,No,No,No,2,5.000000,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1744,321913843,1001-Park-Ave-12S-New-York-NY-10028,3500000.0,3.0,3.0,68569.0,10028,Cooperative,1928,99,...,0 spaces,No,No,No,No,No,3,7.333333,0,0
347,30631179,100-Pilling-St-Brooklyn-NY-11207,1988000.0,6.0,4.0,4240.0,11207,MultiFamily,1905,81,...,0 spaces,No,No,No,No,No,2,5.500000,0,0
1596,62723227,10-Mickardan-Ct-Staten-Island-NY-10304,425000.0,3.0,3.0,1386.0,10304,Single Family Residence,2002,58,...,"Attached, 1 Car Attached, On Street",No,No,No,No,No,3,3.333333,1,0
1647,32321163,10-Kay-Pl-Staten-Island-NY-10305,649000.0,3.0,3.0,1375.0,10305,Single Family - Attached,1988,71,...,"Attached, Built-in, Garage, Assigned",No,No,No,No,No,3,4.333333,1,0
437,30566097,1-Main-St-APT-4J-Brooklyn-NY-11201,3150000.0,2.0,3.0,2005.0,11201,Condo,1916,98,...,None,No,No,No,No,No,2,5.000000,0,0

In [221]:
# Check data transformation was executed correctly
no_pool = (house_df_2['pool_binary'] == 0)

In [222]:
house_df_2[no_pool].head()

,listing_id,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,...,parking,pool,city_view,water_view,park_view,mountain_view,num_schools,avg_school_rating,parking_binary,pool_binary
540,64697773,9935-Shore-Rd-APT-7B-Brooklyn-NY-11209,2399000.0,3.0,2.0,1655.0,11209,Condo,2004,88,...,0 spaces,No,No,No,No,No,2,6.000000,0,0
1252,89335748,99-John-St-APT-2107-New-York-NY-10038,929000.0,1.0,1.0,754.0,10038,Condo,2003,100,...,0 spaces,No,No,No,No,No,2,8.500000,0,0
1082,32281726,97-Margaretta-Ct-Staten-Island-NY-10314,899000.0,4.0,3.0,1852.0,10305,Single Family - Detached,1901,82,...,"Detached, Garage, Off Street, On Street, Garag...",No,No,No,No,No,2,4.500000,1,0
1274,244757842,965-5th-Ave-APT-5A-New-York-NY-10021,3500000.0,2.0,3.0,113150.0,10021,Cooperative,1938,97,...,0 spaces,No,No,No,No,No,3,6.333333,0,0
1539,29833075,963-E-228th-St-Bronx-NY-10466,549000.0,3.0,2.0,1584.0,10466,SingleFamily,1955,80,...,"Carport, Garage - Attached, Off-street",No,No,No,No,No,3,2.333333,1,0

In [223]:
house_df_2['pool_binary'].value_counts()

0    580
1     88
Name: pool_binary, dtype: int64

In [224]:
# Drop feature pool because its information is already captured by pool_binary
house_df_2 = house_df_2.drop('pool', 1)

In [225]:
house_df_2.columns

Index(['listing_id', 'address', 'price', 'beds', 'baths', 'sqft', 'zipcode',
       'property_type', 'year_built', 'walk_score', 'transit_score', 'parking',
       'city_view', 'water_view', 'park_view', 'mountain_view', 'num_schools',
       'avg_school_rating', 'parking_binary', 'pool_binary'],
      dtype='object')

### Property Views

In [226]:
# Check how many different values there are in the column city_view
house_df_2['city_view'].value_counts()

No     662
Yes      6
Name: city_view, dtype: int64

In [227]:
house_df_2['city_view_binary'] = house_df_2.city_view.apply(lambda x: 0 if x == 'No' else 1)

In [228]:
house_df_2['city_view_binary'].value_counts()

0    662
1      6
Name: city_view_binary, dtype: int64

In [229]:
# Check how many different values there are in the column water_view
house_df_2['water_view'].value_counts()

No     665
Yes      3
Name: water_view, dtype: int64

In [230]:
house_df_2['water_view_binary'] = house_df_2.water_view.apply(lambda x: 0 if x == 'No' else 1)

In [231]:
house_df_2['water_view_binary'].value_counts()

0    665
1      3
Name: water_view_binary, dtype: int64

In [232]:
# Check how many different values there are in the column park_view
house_df_2['park_view'].value_counts()

No     665
Yes      3
Name: park_view, dtype: int64

In [233]:
house_df_2['park_view_binary'] = house_df_2.park_view.apply(lambda x: 0 if x == 'No' else 1)

In [234]:
house_df_2['park_view_binary'].value_counts()

0    665
1      3
Name: park_view_binary, dtype: int64

In [235]:
# Check how many different values there are in the column mountain_view
house_df_2['mountain_view'].value_counts()

No    668
Name: mountain_view, dtype: int64

In [236]:
house_df_2['mountain_view_binary'] = house_df_2.mountain_view.apply(lambda x: 0 if x == 'No' else 1)

In [237]:
house_df_2['mountain_view_binary'].value_counts()

0    668
Name: mountain_view_binary, dtype: int64

In [238]:
# Drop duplicate column
house_df_2 = house_df_2.drop('city_view', 1)

In [239]:
# Drop duplicate column
house_df_2 = house_df_2.drop('water_view', 1)

In [240]:
# Drop duplicate column
house_df_2 = house_df_2.drop('park_view', 1)

In [241]:
# Drop duplicate column
house_df_2 = house_df_2.drop('mountain_view', 1)

In [242]:
house_df_2.columns

Index(['listing_id', 'address', 'price', 'beds', 'baths', 'sqft', 'zipcode',
       'property_type', 'year_built', 'walk_score', 'transit_score', 'parking',
       'num_schools', 'avg_school_rating', 'parking_binary', 'pool_binary',
       'city_view_binary', 'water_view_binary', 'park_view_binary',
       'mountain_view_binary'],
      dtype='object')

I am intentionally not dropping one of the views columns because the same property can have multiple views.

### Property Type

In [243]:
# Count what types of property type exists in the dataset
house_df_2['property_type'].value_counts()

Condo                            171
Cooperative                      113
Single Family - Detached          57
Multi Family                      48
MultiFamily                       44
SingleFamily                      40
Single Family - Attached          34
Stock Cooperative                 32
Two Family - Detached             26
Single Family Residence           25
Single Family - Semi-Attached     25
Apartment                         16
Two Family - Semi-Attached        13
Condominium                       11
Townhouse                          9
Two Family - Attached              2
Mixed Use                          1
Bungalow                           1
Name: property_type, dtype: int64

In [244]:
# Redefining categorization to a shorter and more actionable list
house_df_2['property_type_adj'] = house_df_2['property_type'].replace({"Condo": "Condominium", 
                                                                        "Single Family - Detached": "Single Family",
                                                                        "Single Family - Semi-Attached": "Single Family",
                                                                        "SingleFamily": "Single Family",
                                                                        "Single Family Residence":"Single Family",
                                                                        "Single Family - Attached":"Single Family",
                                                                        "MultiFamily":"Multi Family",
                                                                        "Two Family - Detached":"Two Family",
                                                                        "Two Family - Semi-Attached":"Two Family",
                                                                        "Two Family - Attached":"Two Family"})

In [245]:
house_df_2.columns

Index(['listing_id', 'address', 'price', 'beds', 'baths', 'sqft', 'zipcode',
       'property_type', 'year_built', 'walk_score', 'transit_score', 'parking',
       'num_schools', 'avg_school_rating', 'parking_binary', 'pool_binary',
       'city_view_binary', 'water_view_binary', 'park_view_binary',
       'mountain_view_binary', 'property_type_adj'],
      dtype='object')

In [246]:
house_df_2.head(3)

,listing_id,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,...,parking,num_schools,avg_school_rating,parking_binary,pool_binary,city_view_binary,water_view_binary,park_view_binary,mountain_view_binary,property_type_adj
540,64697773,9935-Shore-Rd-APT-7B-Brooklyn-NY-11209,2399000.0,3.0,2.0,1655.0,11209,Condo,2004,88,...,0 spaces,2,6.0,0,0,0,0,0,0,Condominium
1252,89335748,99-John-St-APT-2107-New-York-NY-10038,929000.0,1.0,1.0,754.0,10038,Condo,2003,100,...,0 spaces,2,8.5,0,0,0,0,0,0,Condominium
480,2071063223,98-Luquer-St-Brooklyn-NY-11231,2500000.0,2.0,4.0,1347.0,11201,Condo,2019,99,...,0 spaces,2,5.0,0,1,0,0,0,0,Condominium

In [247]:
house_df_2['property_type_adj'].value_counts()

Condominium          182
Single Family        181
Cooperative          113
Multi Family          92
Two Family            41
Stock Cooperative     32
Apartment             16
Townhouse              9
Mixed Use              1
Bungalow               1
Name: property_type_adj, dtype: int64

In [248]:
# Column property_type_adj transformed in dummy
house_df_2 = pd.concat([house_df_2, pd.get_dummies(house_df_2['property_type_adj'], drop_first = True)], axis=1)

In [303]:
house_df_2.columns

Index(['listing_id', 'address', 'price', 'beds', 'baths', 'sqft', 'zipcode',
       'property_type', 'year_built', 'walk_score', 'transit_score', 'parking',
       'num_schools', 'avg_school_rating', 'parking_binary', 'pool_binary',
       'city_view_binary', 'water_view_binary', 'park_view_binary',
       'mountain_view_binary', 'property_type_adj', 'Bungalow', 'Condominium',
       'Cooperative', 'Mixed Use', 'Multi Family', 'Single Family',
       'Stock Cooperative', 'Townhouse', 'Two Family'],
      dtype='object')

### Zipcodes

In [249]:
# Create a new df containing the column area
house_area_df_2 = house_df_2.merge(zip_df, on ='zipcode',how="left")

In [250]:
house_area_df_2.head(3)

,listing_id,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,...,Bungalow,Condominium,Cooperative,Mixed Use,Multi Family,Single Family,Stock Cooperative,Townhouse,Two Family,area
0,64697773,9935-Shore-Rd-APT-7B-Brooklyn-NY-11209,2399000.0,3.0,2.0,1655.0,11209,Condo,2004,88,...,0,1,0,0,0,0,0,0,0,Bensonhurst - Bay Ridge
1,89335748,99-John-St-APT-2107-New-York-NY-10038,929000.0,1.0,1.0,754.0,10038,Condo,2003,100,...,0,1,0,0,0,0,0,0,0,Lower Manhattan
2,2071063223,98-Luquer-St-Brooklyn-NY-11231,2500000.0,2.0,4.0,1347.0,11201,Condo,2019,99,...,0,1,0,0,0,0,0,0,0,Downtown - Heights - Park Slope

In [251]:
house_area_df_2.shape

(672, 31)

In [252]:
house_df_2.shape

(668, 30)

The new dataframe has four more rows than the original one. We might have a duplicate in listing_id.

In [253]:
house_area_df_2['listing_id'].value_counts()

320226204     2
62635387      2
2078122241    2
2071224832    2
2071202836    1
             ..
31531125      1
2078362445    1
32369670      1
29844798      1
79524956      1
Name: listing_id, Length: 668, dtype: int64

In [264]:
# Mask the duplicate listing id  
duplicate_id_2 = (house_area_df_2['listing_id']=='2071224832')
house_area_df_2[duplicate_id_2]

,listing_id,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,...,Bungalow,Condominium,Cooperative,Mixed Use,Multi Family,Single Family,Stock Cooperative,Townhouse,Two Family,area
55,2071224832,800-Grand-Concourse-2O-Bronx-NY-10451,275000.0,1.0,1.0,800.0,10451,Stock Cooperative,1954,95,...,0,0,0,0,0,0,1,0,0,High Bridge - Morrisania
56,2071224832,800-Grand-Concourse-2O-Bronx-NY-10451,275000.0,1.0,1.0,800.0,10451,Stock Cooperative,1954,95,...,0,0,0,0,0,0,1,0,0,High Bridge - Morrisania

In [265]:
# Drop duplicates
house_area_df_2.sort_values(["listing_id"], inplace=True, ascending=False)
house_area_df_2.drop_duplicates(subset=["listing_id"], inplace=True)

In [266]:
house_area_df_2['listing_id'].value_counts()

2071202836    1
83043011      1
72518003      1
2071154107    1
2071116865    1
             ..
29844798      1
32275602      1
244438084     1
29835591      1
32278053      1
Name: listing_id, Length: 668, dtype: int64

In [267]:
house_area_df_2.shape

(668, 31)

The duplicate observation has been correctly removed.

In [268]:
house_area_df_2['area'].value_counts()

South Beach - Tottenville               86
Downtown - Heights - Park Slope         49
Stapleton - St. George                  44
Pelham - Throgs Neck                    44
Kingsbridge - Riverdale                 37
Coney Island - Sheepshead Bay           33
Chelsea - Clinton                       31
Gramercy Park - Murray Hill             30
Port Richmond                           23
Willowbrook                             23
Upper West Side                         22
Upper East Side                         21
East Flatbush - Flatbush                19
Northeast Bronx                         16
Greenwich Village - SoHo                16
Fordham - Bronx Park                    14
Borough Park                            13
Williamsburg - Bushwick                 12
High Bridge - Morrisania                12
Bedford Stuyvesant - Crown Heights      12
Lower Manhattan                         12
Union Square - Lower East Side          11
Central Harlem - Morningside Heights    11
Crotona - Tremont                       11
Greenpoint                              10
Sunset Park                             10
Bensonhurst - Bay Ridge                  9
Canarsie - Flatlands                     8
East New York                            8
Washington Heights - Inwood              5
Hunts Point - Mott Haven                 3
East Harlem                              3
Southeast Queens                         1
Name: area, dtype: int64

In [306]:
# Apply feature engineering to the column areas, derived from zipcode
house_all_areas_df_2 = pd.concat([house_area_df_2, pd.get_dummies(house_area_df_2['area'], drop_first = True)], axis=1)

In [307]:
house_all_areas_df_2.head(3)

,listing_id,address,price,beds,baths,sqft,zipcode,property_type,year_built,walk_score,...,South Beach - Tottenville,Southeast Queens,Stapleton - St. George,Sunset Park,Union Square - Lower East Side,Upper East Side,Upper West Side,Washington Heights - Inwood,Williamsburg - Bushwick,Willowbrook
163,97517830,520-W-19th-St-PENTHOUSE-A-New-York-NY-10011,8495000.0,5.0,6.0,4100.0,10011,Condo,2007,94,...,0,0,0,0,0,0,0,0,0,0
435,94717824,2231-62nd-St-1R-Brooklyn-NY-11204,715000.0,2.0,2.0,1160.0,11204,Condo,2006,92,...,0,0,0,0,0,0,0,0,0,0
658,94717610,103-Quentin-Rd-B502-Brooklyn-NY-11223,678000.0,3.0,2.0,1147.0,11223,Condo,2007,93,...,0,0,0,0,0,0,0,0,0,0

In [308]:
# Check area associated with a specific listing and compare with the area presented in the new dataframe below 
test_mask_2 = house_area_df_2[(house_area_df_2['listing_id'] == '97517830')]
test_mask_2['area']

163    Chelsea - Clinton
Name: area, dtype: object

In [309]:
# Check area associated with a specific listing and compare with the area presented in the new dataframe below
comparison_mask_2 = house_all_areas_df_2[(house_area_df_2['listing_id'] == '97517830')]
comparison_mask_2['Chelsea - Clinton']

163    1
Name: Chelsea - Clinton, dtype: uint8

In [310]:
house_all_areas_df_2.shape

(668, 63)

In [311]:
house_all_areas_df_2.columns

Index(['listing_id', 'address', 'price', 'beds', 'baths', 'sqft', 'zipcode',
       'property_type', 'year_built', 'walk_score', 'transit_score', 'parking',
       'num_schools', 'avg_school_rating', 'parking_binary', 'pool_binary',
       'city_view_binary', 'water_view_binary', 'park_view_binary',
       'mountain_view_binary', 'property_type_adj', 'Bungalow', 'Condominium',
       'Cooperative', 'Mixed Use', 'Multi Family', 'Single Family',
       'Stock Cooperative', 'Townhouse', 'Two Family', 'area',
       'Bensonhurst - Bay Ridge', 'Borough Park', 'Canarsie - Flatlands',
       'Central Harlem - Morningside Heights', 'Chelsea - Clinton',
       'Coney Island - Sheepshead Bay', 'Crotona - Tremont',
       'Downtown - Heights - Park Slope', 'East Flatbush - Flatbush',
       'East Harlem', 'East New York', 'Fordham - Bronx Park',
       'Gramercy Park - Murray Hill', 'Greenpoint', 'Greenwich Village - SoHo',
       'High Bridge - Morrisania', 'Hunts Point - Mott Haven',
       'Kingsbridge - Riverdale', 'Lower Manhattan', 'Northeast Bronx',
       'Pelham - Throgs Neck', 'Port Richmond', 'South Beach - Tottenville',
       'Southeast Queens', 'Stapleton - St. George', 'Sunset Park',
       'Union Square - Lower East Side', 'Upper East Side', 'Upper West Side',
       'Washington Heights - Inwood', 'Williamsburg - Bushwick',
       'Willowbrook'],
      dtype='object')

In [312]:
# Drop parking since it's a duplicate of parking_binary
house_all_areas_df_2 = house_all_areas_df_2.drop('parking', 1)

In [313]:
# Drop zipcode since the listing's location is represented by the feature area
house_all_areas_df_2 = house_all_areas_df_2.drop('zipcode', 1)

In [314]:
house_all_areas_df_2.shape

(668, 61)

In [315]:
house_all_areas_df_2.columns

Index(['listing_id', 'address', 'price', 'beds', 'baths', 'sqft',
       'property_type', 'year_built', 'walk_score', 'transit_score',
       'num_schools', 'avg_school_rating', 'parking_binary', 'pool_binary',
       'city_view_binary', 'water_view_binary', 'park_view_binary',
       'mountain_view_binary', 'property_type_adj', 'Bungalow', 'Condominium',
       'Cooperative', 'Mixed Use', 'Multi Family', 'Single Family',
       'Stock Cooperative', 'Townhouse', 'Two Family', 'area',
       'Bensonhurst - Bay Ridge', 'Borough Park', 'Canarsie - Flatlands',
       'Central Harlem - Morningside Heights', 'Chelsea - Clinton',
       'Coney Island - Sheepshead Bay', 'Crotona - Tremont',
       'Downtown - Heights - Park Slope', 'East Flatbush - Flatbush',
       'East Harlem', 'East New York', 'Fordham - Bronx Park',
       'Gramercy Park - Murray Hill', 'Greenpoint', 'Greenwich Village - SoHo',
       'High Bridge - Morrisania', 'Hunts Point - Mott Haven',
       'Kingsbridge - Riverdale', 'Lower Manhattan', 'Northeast Bronx',
       'Pelham - Throgs Neck', 'Port Richmond', 'South Beach - Tottenville',
       'Southeast Queens', 'Stapleton - St. George', 'Sunset Park',
       'Union Square - Lower East Side', 'Upper East Side', 'Upper West Side',
       'Washington Heights - Inwood', 'Williamsburg - Bushwick',
       'Willowbrook'],
      dtype='object')

In [316]:
house_all_areas_df_2 = house_all_areas_df_2[['listing_id','price', 'beds', 'baths', 'sqft',
       'property_type','property_type_adj', 'address','area','year_built', 'walk_score', 'transit_score',
       'num_schools', 'avg_school_rating', 'parking_binary', 'pool_binary',
       'city_view_binary', 'water_view_binary', 'park_view_binary',
       'mountain_view_binary', 'address', 'area', 'Bensonhurst - Bay Ridge',
       'Borough Park', 'Canarsie - Flatlands',
       'Central Harlem - Morningside Heights', 'Chelsea - Clinton',
       'Coney Island - Sheepshead Bay', 'Crotona - Tremont',
       'Downtown - Heights - Park Slope', 'East Flatbush - Flatbush',
       'East New York', 'Fordham - Bronx Park', 'Gramercy Park - Murray Hill',
       'Greenpoint', 'Greenwich Village - SoHo', 'High Bridge - Morrisania',
       'Kingsbridge - Riverdale', 'Lower Manhattan', 'Northeast Bronx',
       'Pelham - Throgs Neck', 'Port Richmond', 'South Beach - Tottenville',
       'Southeast Queens', 'Stapleton - St. George', 'Sunset Park',
       'Union Square - Lower East Side', 'Upper East Side', 'Upper West Side',
       'Washington Heights - Inwood', 'Williamsburg - Bushwick',
       'Willowbrook', 'Bungalow', 'Condominium',
       'Cooperative', 'Mixed Use', 'Multi Family', 'Single Family',
       'Stock Cooperative', 'Townhouse', 'Two Family']]

In [319]:
house_all_areas_df_2.shape

(668, 61)

In [317]:
house_all_areas_df_2.head(2)

,listing_id,price,beds,baths,sqft,property_type,property_type_adj,address,area,year_built,...,Willowbrook,Bungalow,Condominium,Cooperative,Mixed Use,Multi Family,Single Family,Stock Cooperative,Townhouse,Two Family
163,97517830,8495000.0,5.0,6.0,4100.0,Condo,Condominium,520-W-19th-St-PENTHOUSE-A-New-York-NY-10011,Chelsea - Clinton,2007,...,0,0,1,0,0,0,0,0,0,0
435,94717824,715000.0,2.0,2.0,1160.0,Condo,Condominium,2231-62nd-St-1R-Brooklyn-NY-11204,Borough Park,2006,...,0,0,1,0,0,0,0,0,0,0

In [318]:
house_all_areas_df_2.isnull().values.any()

True

In [320]:
house_all_areas_df_2.isna().sum()

listing_id           0
price                0
beds                 0
baths                0
sqft                 0
                    ..
Multi Family         0
Single Family        0
Stock Cooperative    0
Townhouse            0
Two Family           0
Length: 61, dtype: int64

In [321]:
# Create a mask for null data
null_data_3 = house_all_areas_df_2[house_all_areas_df_2.isnull().any(axis=1)]
null_data_3

,listing_id,price,beds,baths,sqft,property_type,property_type_adj,address,area,year_built,...,Willowbrook,Bungalow,Condominium,Cooperative,Mixed Use,Multi Family,Single Family,Stock Cooperative,Townhouse,Two Family
472,72537233,749000.0,1.0,1.0,750.0,Cooperative,Cooperative,201-E-66th-St-APT-10H-New-York-NY-10065,NaN,1961,...,0,0,0,1,0,0,0,0,0,0
437,61967244,1500000.0,1.0,2.0,1044.0,Condo,Condominium,220-Riverside-Blvd-APT-10K-New-York-NY-10069,NaN,2000,...,0,0,1,0,0,0,0,0,0,0
171,31545666,975000.0,1.0,2.0,925.0,Condo,Condominium,510-E-80th-St-APT-6B-New-York-NY-10075,NaN,1986,...,0,0,1,0,0,0,0,0,0,0
414,31536847,7900000.0,7.0,9.0,5178.0,Townhouse,Townhouse,240-E-68th-St-New-York-NY-10065,NaN,1899,...,0,0,0,0,0,0,0,0,1,0
438,31536717,1749000.0,2.0,2.0,1030.0,Condo,Condominium,220-E-65th-St-APT-11H-New-York-NY-10065,NaN,1978,...,0,0,1,0,0,0,0,0,0,0
524,31534537,1350000.0,1.0,1.0,1002.0,Condo,Condominium,166-E-63rd-St-APT-9F-New-York-NY-10065,NaN,1959,...,0,0,1,0,0,0,0,0,0,0
233,244808834,449000.0,1.0,1.0,600.0,Cooperative,Cooperative,415-E-80th-St-APT-3K-New-York-NY-10075,NaN,1959,...,0,0,0,1,0,0,0,0,0,0
358,2078467213,2995000.0,2.0,3.0,1652.0,Cooperative,Cooperative,30-E-62nd-St-9DE-New-York-NY-10065,NaN,1958,...,0,0,0,1,0,0,0,0,0,0
23,125716855,13750000.0,4.0,6.0,4000.0,Cooperative,Cooperative,895-Park-Ave-5C-New-York-NY-10075,NaN,1930,...,0,0,0,1,0,0,0,0,0,0

In [322]:
# Filter the mask and check on Google Maps
null_data_3[['listing_id','address']]

,listing_id,address,address
472,72537233,201-E-66th-St-APT-10H-New-York-NY-10065,201-E-66th-St-APT-10H-New-York-NY-10065
437,61967244,220-Riverside-Blvd-APT-10K-New-York-NY-10069,220-Riverside-Blvd-APT-10K-New-York-NY-10069
171,31545666,510-E-80th-St-APT-6B-New-York-NY-10075,510-E-80th-St-APT-6B-New-York-NY-10075
414,31536847,240-E-68th-St-New-York-NY-10065,240-E-68th-St-New-York-NY-10065
438,31536717,220-E-65th-St-APT-11H-New-York-NY-10065,220-E-65th-St-APT-11H-New-York-NY-10065
524,31534537,166-E-63rd-St-APT-9F-New-York-NY-10065,166-E-63rd-St-APT-9F-New-York-NY-10065
233,244808834,415-E-80th-St-APT-3K-New-York-NY-10075,415-E-80th-St-APT-3K-New-York-NY-10075
358,2078467213,30-E-62nd-St-9DE-New-York-NY-10065,30-E-62nd-St-9DE-New-York-NY-10065
23,125716855,895-Park-Ave-5C-New-York-NY-10075,895-Park-Ave-5C-New-York-NY-10075

In [323]:
# Listing 72537233
house_all_areas_df_2.loc[house_all_areas_df_2.listing_id == '72537233', 'area'] = 'Upper East Side'
house_all_areas_df_2.loc[house_all_areas_df_2.listing_id == '72537233', 'Upper East Side'] = 1

In [324]:
# Listing 61967244
house_all_areas_df_2.loc[house_all_areas_df_2.listing_id == '61967244', 'area'] = 'Upper West Side'
house_all_areas_df_2.loc[house_all_areas_df_2.listing_id == '61967244', 'Upper West Side'] = 1

In [325]:
# Listing 31545666
house_all_areas_df_2.loc[house_all_areas_df_2.listing_id == '31545666', 'area'] = 'Upper East Side'
house_all_areas_df_2.loc[house_all_areas_df_2.listing_id == '31545666', 'Upper East Side'] = 1

In [326]:
# Listing 31536847
house_all_areas_df_2.loc[house_all_areas_df_2.listing_id == '31536847', 'area'] = 'Upper East Side'
house_all_areas_df_2.loc[house_all_areas_df_2.listing_id == '31536847', 'Upper East Side'] = 1

In [327]:
# Listing 31536717
house_all_areas_df_2.loc[house_all_areas_df_2.listing_id == '31536717', 'area'] = 'Upper East Side'
house_all_areas_df_2.loc[house_all_areas_df_2.listing_id == '31536717', 'Upper East Side'] = 1

In [328]:
# Listing 31534537
house_all_areas_df_2.loc[house_all_areas_df_2.listing_id == '31534537', 'area'] = 'Upper East Side'
house_all_areas_df_2.loc[house_all_areas_df_2.listing_id == '31534537', 'Upper East Side'] = 1

In [329]:
# Listing 244808834
house_all_areas_df_2.loc[house_all_areas_df_2.listing_id == '244808834', 'area'] = 'Upper East Side'
house_all_areas_df_2.loc[house_all_areas_df_2.listing_id == '244808834', 'Upper East Side'] = 1

In [330]:
# Listing 2078467213
house_all_areas_df_2.loc[house_all_areas_df_2.listing_id == '2078467213', 'area'] = 'Upper East Side'
house_all_areas_df_2.loc[house_all_areas_df_2.listing_id == '2078467213', 'Upper East Side'] = 1

In [331]:
# Listing 125716855
house_all_areas_df_2.loc[house_all_areas_df_2.listing_id == '125716855', 'area'] = 'Upper East Side'
house_all_areas_df_2.loc[house_all_areas_df_2.listing_id == '125716855', 'Upper East Side'] = 1

In [332]:
# Check for missing values
house_all_areas_df_2.isnull().values.any()

False

No more missing values.

In [333]:
# Store df in pickle object
house_all_areas_df_2.to_pickle('house_all_areas_df_2.pickle')